 #carousel-section {
            font-family: 'Georgia', serif;

        }

        #carousel-section .carousel {
            margin-top: 8vh;
        }

        #carousel-section .carousel-item {
            height: 92vh;
            min-height: 500px;
            position: relative;
        }

        #carousel-section .carousel-item img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: brightness(95%);
        }

        /* Gradient overlay */
        #carousel-section .carousel-item::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
        }

        /* Carousel indicators */
        #carousel-section .carousel-indicators [data-bs-target] {
            background-color: #c49b63;
        }